---
layout: default
---

{% include header.html %}
<div class="container-portfolio">

  <div class="spacer"></div>
  <h4>Here are some cool things I've done with code:</h4>
  <p>(and some pretty sweet case studies to go along with them!)</p>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <nav class="nav nav-pills justify-content-center flex-column">
            <a href="#hagendev" class="nav-link active" data-toggle="tab">HagenDev</a>
            <a href="#cassandra" class="nav-link" data-toggle="tab">Cassandra Pimentel Portfolio</a>
          </nav>
        </div>

        <div class="col-sm-6">
          <nav class="nav nav-pills justify-content-center flex-column">
            <a href="#caroline" class="nav-link" data-toggle="tab">Caroline Moore Dental</a>
            <a href="#nieves" class="nav-link" data-toggle="tab">Nieves &amp; Carl Wedding</a>
          </nav>
        </div>
      </div>  
    </div>
  
    <div class="tab-content py-5">
      <div class="tab-pane active" id="hagendev">
        <h3>HagenDev</h3>
        <p>
          The site that you're on right now! I've gone through a couple different domain names to get here:
          caseylh.com, endgamecreativ.es and finally hagendev. I like hagendev a lot. It's simple, and tells people both who I am and what I do.
        </p>
        <h6>Design/Layout</h6>
        <p>
          I think it's fairly obvious that I took a lot of inspiration from <a href="chrischoyier.net">Chris Coyier's</a> personal website for the design and layout of mine. I really enjoyed the simplicity and how he simply puts what he wants on his website. He's not necessarily looking for work (or at least doesn't make it obvious at all), but he has his links to his portfolio and his contact information so you can drop him a line anyways. 
        </p>
        <p>
          That part is what really resonated with me. In the past, I've tried to make creating websites a "side hustle" for me with absolutely no luck. I'm not sure if it's because I marketed myself the wrong way, or maybe my portfolio sites never caught anyone's eye, but I was never able to make money off of creating websites. I think this led to my sort of falling out from learning at times, due to lack of motivation. 
        </p>
        <p>
          With this in mind, I've decided to take a different approach to my website in 2018; Just having it become a space on the internet that I can call my own. Not that I wouldn't like to make some extra money doing something that I enjoy doing, but I definitely didn't want to build my website around it like I did in the past.  
        </p>
      </div> 
  
      <div class="tab-pane" id="cassandra">
        <h3>Cassandra Pimentel portfolio</h3>
        <p>
          By this time, I had already gotten my bearings with creating static websites but the client (my close friend), needed something that she was able to update fairly regularly due to her current occupation. With this in mind, I decided that it would be a good time to take up WordPress.
        </p>

        <p>
          Initially, I wanted to try to create a static website first, then convert it over to WordPress by adding a little bit of PHP and sort of picking it up as I go, but I quickly learned that it wasn't going to be a very quick process at all. Cassandra ended up needing the website much quicker than expected, so I did some research on site builders. The one I used for her website is <a href="https://www.elegantthemes.com/gallery/divi/">Divi</a>, a pretty well-known one at the time. I liked how easy it was to create the layout and make changes extremely easily in the front end. I did a little bit of custom CSS to avoid feeling like I cheated, but it was done relatively quickly as needed. 
        </p>

        <h6>Design/Layout</h6>
        <p>
          I still stuck with my simple, very Bootstrappy layouts with this one. You know the kind, navbar on the top, nice big jumbotron landing section, with a bunch of different sections as you scroll down the site. Cassandra really just wanted something to showcase her work as a Film Maker, and I feel like I was able to provide that for her. I threw in a video gallery that could play her recent films, behind the scenes photo galleries, and a blog. 
        </p>
      </div> 
  
      <div class="tab-pane" id="caroline">
        <h3>Caroline Moore Dental</h3>
        <p>
          This one started out as an idea/business venture that I never really pursued afterwards. Our family friend and dentist, Dr. Caroline Moore owns a dental practice in Chula Vista, CA. Naturally, as any just-starting-out-wanting-to-make-money new guy on the block, I Googled her practice to see if I could find a website... Nothing. So I came up with this! 
        </p>

        <p>
          The thing is, I never followed through with actually showing her the website, probably due to me being stationed on a ship at the time, away from home most of the time. 
        </p>
        <h6>Design/Layout</h6>
        <p>
          Still very much the same simple layouts that I enjoy so much here. I really liked that I could flex my skills by creating the card-like portions (before Bootstrap 4!) and the full width, static background. 
        </p>
      </div> 
  
      <div class="tab-pane" id="nieves">
        <h3>Nieves &amp; Carl Wedding</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero modi maiores distinctio placeat optio ducimus cumque facere recusandae, asperiores praesentium accusamus quaerat ea saepe neque non, atque itaque eaque. Nemo.
        </p>
      </div> 
    </div>
</div> <!-- .container -->
{% include footer.html %}