---
layout: default
---

{% include header.html %}
<div class="container-portfolio">

  <div class="spacer"></div>
  <h4>Here are some cool things I've done with code:</h4>
  <p>(and some pretty sweet case studies to go along with them!)</p>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <nav class="nav nav-pills justify-content-center flex-column">
            <a href="#hagendev" class="nav-link active" data-toggle="tab">HagenDev</a>
            <a href="#cassandra" class="nav-link" data-toggle="tab">Cassandra Pimentel Portfolio</a>
          </nav>
        </div>

        <div class="col-sm-6">
          <nav class="nav nav-pills justify-content-center flex-column">
            <a href="#caroline" class="nav-link" data-toggle="tab">Caroline Moore Dental</a>
            <a href="#nieves" class="nav-link" data-toggle="tab">Nieves &amp; Carl Wedding</a>
          </nav>
        </div>
      </div>  
    </div>
  
    <div class="tab-content py-5">
      <div class="tab-pane active" id="hagendev">
        <h3>HagenDev</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero modi maiores distinctio placeat optio ducimus cumque facere recusandae, asperiores praesentium accusamus quaerat ea saepe neque non, atque itaque eaque. Nemo.
        </p>
      </div> 
  
      <div class="tab-pane" id="cassandra">
        <h3>Cassandra Pimentel portfolio</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero modi maiores distinctio placeat optio ducimus cumque facere recusandae, asperiores praesentium accusamus quaerat ea saepe neque non, atque itaque eaque. Nemo.
        </p>
      </div> 
  
      <div class="tab-pane" id="caroline">
        <h3>Caroline Moore Dental</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero modi maiores distinctio placeat optio ducimus cumque facere recusandae, asperiores praesentium accusamus quaerat ea saepe neque non, atque itaque eaque. Nemo.
        </p>
      </div> 
  
      <div class="tab-pane" id="nieves">
        <h3>Nieves &amp; Carl Wedding</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero modi maiores distinctio placeat optio ducimus cumque facere recusandae, asperiores praesentium accusamus quaerat ea saepe neque non, atque itaque eaque. Nemo.
        </p>
      </div> 
    </div>
</div> <!-- .container -->
{% include footer.html %}