---
layout: default
title: HagenDev | Portfolio
---
{% include header.html %}

<div class="row py-5">
  <div class="col-sm-8">
    <img src="http://via.placeholder.com/350x150" class="img-fluid" alt="">
  </div>

  <div class="col-sm-4">
    <div class="portfolio-block">
      <h4>HagenDev.com</h4>
      <ul>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
      </ul>
    </div> <!-- .portfolio-block -->
  </div> <!-- .col -->
</div> <!-- .row -->

<div class="row py-5">
  <div class="col-sm-8">
    <img src="http://via.placeholder.com/350x150" class="img-fluid" alt="">
  </div>

  <div class="col-sm-4">
    <div class="portfolio-block">
      <h4>HagenDev.com</h4>
      <ul>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
      </ul>
    </div>
    <!-- .portfolio-block -->
  </div>
  <!-- .col -->
</div>
<!-- .row -->
{% include footer.html %}