<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <img src="#" alt="Photo of Casey Hagen">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime id natus odio quam temporibus, sit nihil, iure enim, esse aperiam eaque placeat cupiditate veniam illo repudiandae vel facilis officia porro!
        </p>
      </div>

      <div class="col-sm-4">
        <a href="#">Follow Here</a>
        <a href="#">Follow Here</a>
        <a href="#">Follow Here</a>
      </div> <!-- .col -->

      <div class="col-sm-4">
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div> <!-- .col -->
    </div> <!-- .row -->


  </div> <!-- .container -->
</footer>