@import "1-tools/normalize"; // Imports (duh) normalize.scss

// Aaaand... Go!

// Variables

$background-color: #2597D0;
$text-color: white;
$accent-color: #0C5F8B;
$footer-background: #272727;
$text-font: 'Crete Round', serif;
$header-font: 'Ledger', serif;

// General styles

