@import "1-tools/normalize"; // Imports (duh) normalize.scss

// Aaaand... Go!

// Variables

$background-color: #2597D0;
$text-color: white;
$accent-color: #0C5F8B;
$footer-background: #272727;
$header-font: 'Crete Round', serif;
$text-font: 'Ledger', serif;

// General styles

body {
  background: $footer-background;
  color: $text-color;
  font-family: $text-font;
}
.container {
  max-width: 668px;
  padding: 25px;
}

h1,h2 {
  font-family: $header-font;
  text-transform: uppercase;
  letter-spacing: 0.10rem;
}
// Header styles

header {
  color: $text-color;
  text-align: center;
  nav a {
    color: $background-color;
    padding: 0.35rem;
    font-size: 1.2rem;
  }
}

// About Section



// CTA Section

.cta {
  h2 { text-align: center; }
  .cta-block {
    text-align: left;
    background: $background-color;
    color: $text-color;
    margin: 1.5rem 0 2.5rem 0;
    padding: 2rem;
    font-size: 1.4rem;
  }
}

// Footer

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: $footer-background;
  opacity: 0.85;
  padding: 0.75rem;
  nav a {
    padding: 0.35rem;
    color: $text-color;
  }
}